In [0]:
data = [
    ("P001", "Notebook", 3, 45000),
    ("P002", "Keyboard", 2, 7000),
    ("P003", "Mouse", 5, 4000),
    ("P004", "Monitor", 1, 15000),
    ("P005", "Chair", 4, 8000)
]
columns=["product_id", "product_name", "quantity", "price"]
df = spark.createDataFrame(data, columns)
df.show()

+----------+------------+--------+-----+
|product_id|product_name|quantity|price|
+----------+------------+--------+-----+
|      P001|    Notebook|       3|45000|
|      P002|    Keyboard|       2| 7000|
|      P003|       Mouse|       5| 4000|
|      P004|     Monitor|       1|15000|
|      P005|       Chair|       4| 8000|
+----------+------------+--------+-----+

In [0]:
df.count()

5

In [0]:

#calculate the total revenue for each product
from pyspark.sql.functions import col
df_revenue=df.select(col("product_name"), col("price")*col("quantity").alias("revenue"))
df_revenue.show()

+------------+-----------------------------+
|product_name|(price * quantity AS revenue)|
+------------+-----------------------------+
|    Notebook|                       135000|
|    Keyboard|                        14000|
|       Mouse|                        20000|
|     Monitor|                        15000|
|       Chair|                        32000|
+------------+-----------------------------+

In [0]:
df.filter(col("price")>1000).show()

+----------+------------+--------+-----+
|product_id|product_name|quantity|price|
+----------+------------+--------+-----+
|      P001|    Notebook|       3|45000|
|      P002|    Keyboard|       2| 7000|
|      P003|       Mouse|       5| 4000|
|      P004|     Monitor|       1|15000|
|      P005|       Chair|       4| 8000|
+----------+------------+--------+-----+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("EmployeeSaleData").getOrCreate()
data = [
    ("E101", "Anil", "Sales", 30, 1200),
    ("E102", "Sneha", "Marketing", 8, 1500),
    ("E103", "Ravi", "Sales", 12, 1300),
    ("E104", "Tanvi", "HR", 7, 1100),
    ("E105", "Rajesh", "Sales", 5, 1000)
]

columns = ["EmpID", "Name", "Department", "UnitsSold", "UnitPrice"]
df = spark.createDataFrame(data, columns)
df.show()

+-----+------+----------+---------+---------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|
+-----+------+----------+---------+---------+
| E101|  Anil|     Sales|       30|     1200|
| E102| Sneha| Marketing|        8|     1500|
| E103|  Ravi|     Sales|       12|     1300|
| E104| Tanvi|        HR|        7|     1100|
| E105|Rajesh|     Sales|        5|     1000|
+-----+------+----------+---------+---------+

In [0]:
#Show total number of employees
df.count()

5

In [0]:
#Add a new column TotalSales = UnitsSold Ã— UnitPrice
df = df.withColumn("TotalSales", col("UnitsSold") * col("UnitPrice"))
df.show()

+-----+------+----------+---------+---------+----------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+------+----------+---------+---------+----------+
| E101|  Anil|     Sales|       30|     1200|     36000|
| E102| Sneha| Marketing|        8|     1500|     12000|
| E103|  Ravi|     Sales|       12|     1300|     15600|
| E104| Tanvi|        HR|        7|     1100|      7700|
| E105|Rajesh|     Sales|        5|     1000|      5000|
+-----+------+----------+---------+---------+----------+

In [0]:
#Show only Sales department employees with TotalSales >= 12000
df.filter((col("Department") == "Sales") & (col("TotalSales") >= 12000)).show()

+-----+----+----------+---------+---------+----------+
|EmpID|Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+----+----------+---------+---------+----------+
| E101|Anil|     Sales|       30|     1200|     36000|
| E103|Ravi|     Sales|       12|     1300|     15600|
+-----+----+----------+---------+---------+----------+

In [0]:
#Find the employee with the highest total sales
df.orderBy(col("TotalSales").desc()).limit(1).show()

+-----+----+----------+---------+---------+----------+
|EmpID|Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+----+----------+---------+---------+----------+
| E101|Anil|     Sales|       30|     1200|     36000|
+-----+----+----------+---------+---------+----------+

In [0]:
# Sort employees by TotalSales in descending order
df.orderBy(col("TotalSales").desc()).show()

+-----+------+----------+---------+---------+----------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+------+----------+---------+---------+----------+
| E101|  Anil|     Sales|       30|     1200|     36000|
| E103|  Ravi|     Sales|       12|     1300|     15600|
| E102| Sneha| Marketing|        8|     1500|     12000|
| E104| Tanvi|        HR|        7|     1100|      7700|
| E105|Rajesh|     Sales|        5|     1000|      5000|
+-----+------+----------+---------+---------+----------+