#Python Data Structures – Intermediate Exercises Notebook

##Section 1: Nested Lists & Access
###Given:
students = [
["Ravi", [85, 72, 90]],
["Sneha", [95, 88, 92]],
["Kabir", [65, 70, 60]],
["Anita", [75, 80, 78]]
]
Tasks:
1. Print Ravi’s second mark.
2. Calculate average mark for each student.
3. Print the name of students who scored above 80 in all subjects.
4. Create a new list of [name, average]

In [1]:
#1. Print Ravi’s second mark.
students = [
["Ravi", [85, 72, 90]],
["Sneha", [95, 88, 92]],
["Kabir", [65, 70, 60]],
["Anita", [75, 80, 78]]
]
print(students[0][1][1])
#2. Calculate average mark for each student.
for name, marks in students:
    avg=sum(marks)/len(marks)
    print(f"{name} average: {avg:.2f}")
#3. Print the name of students who scored above 80 in all subjects.
for name, marks in students:
    if all(mark>80 for mark in marks):
        print(name)
#4. Create a new list of [name, average]
newlist=[[name,round( sum(marks)/len(marks),2)] for name, marks in students]
print(newlist)

72
Ravi average: 82.33
Sneha average: 91.67
Kabir average: 65.00
Anita average: 77.67
Sneha
[['Ravi', 82.33], ['Sneha', 91.67], ['Kabir', 65.0], ['Anita', 77.67]]

#Section 2: Dictionary of Lists

In [2]:
data={
    "products":["Mobile", "Laptop", "Tablet", "Camera"],
    "prices":[12000, 55000, 18000, 25000],
    "ratings":[4.5, 4.7, 4.0, 4.2]
}

products=[]
for i in range(len(data["products"])):
    product={
        "name":data["products"][i],
        "price":data["prices"][i],
        "rating":data["ratings"][i]
    }
    products.append(product)
print(products)

List of product dictionaries:
[{'name': 'Mobile', 'price': 12000, 'rating': 4.5}, {'name': 'Laptop', 'price': 55000, 'rating': 4.7}, {'name': 'Tablet', 'price': 18000, 'rating': 4.0}, {'name': 'Camera', 'price': 25000, 'rating': 4.2}]

In [3]:
#2. Filter and print products with price >20,000 and rating >= 4.5
filtered_products=[
    product for product in products
    if product["price"] > 20000 and product["rating"] >= 4.5]
print(filtered_products)

[{'name': 'Laptop', 'price': 55000, 'rating': 4.7}]

In [4]:
#3. Sort the product list by rating (descending)
sorted_products=sorted(products, key=lambda x: x["rating"], reverse=True)
print(sorted_products)

[{'name': 'Laptop', 'price': 55000, 'rating': 4.7}, {'name': 'Mobile', 'price': 12000, 'rating': 4.5}, {'name': 'Camera', 'price': 25000, 'rating': 4.2}, {'name': 'Tablet', 'price': 18000, 'rating': 4.0}]

#Section 3: Frequency Dictionary + Set Operations

In [5]:
text = "ai is the future and ai will change everything in the ai world"
#1. Count frequency of each word using a dictionary
words=text.split()
freq={}
for word in words:
    freq[word]=freq.get(word, 0)+1
print(freq)

Word Frequencies: {'ai': 3, 'is': 1, 'the': 2, 'future': 1, 'and': 1, 'will': 1, 'change': 1, 'everything': 1, 'in': 1, 'world': 1}

In [6]:
#2. Print only the words that appear more than once
repeated=[word for word, count in freq.items() if count > 1]
print(repeated)

['ai', 'the']

In [7]:
#3. Convert words into a set and print sorted unique words
uniquewords=set(words)
print(sorted(uniquewords))

['ai', 'and', 'change', 'everything', 'future', 'in', 'is', 'the', 'will', 'world']

In [9]:
'''4. Find common words between:
set1 = set(text.split())
set2 = {"ai", "ml", "data", "future"}'''
set1=set(text.split())
set2={"ai", "ml", "data", "future"}
commonwords=set1.intersection(set2)
print(commonwords)

{'ai', 'future'}

#Section 4: Dictionary Comprehension + Conditional Logic

In [10]:
sales={
    'Amit': 70000,
    'Sneha': 45000,
    'Ravi': 30000,
    'Anita': 90000,
    'Kabir': 20000}

In [11]:
#1. Create a new dictionary with 10% bonus added to each sale
salesbonus={name: sale + sale * 0.10 for name, sale in sales.items()}
print(salesbonus)

{'Amit': 77000.0, 'Sneha': 49500.0, 'Ravi': 33000.0, 'Anita': 99000.0, 'Kabir': 22000.0}

In [12]:
#2. Filter and return only those with sales >50,000
highsales={name: sale for name, sale in sales.items() if sale > 50000}
print(highsales)

{'Amit': 70000, 'Anita': 90000}

In [14]:
'''3. Label each person as 'High' , 'Medium' , or 'Low' based on:
75,000: High
40,000: Medium
Else: Low'''
label={name:(
        "High" if sale > 75000 else
        "Medium" if sale > 40000 else
        "Low")
    for name, sale in sales.items()}
print(label)

{'Amit': 'Medium', 'Sneha': 'Medium', 'Ravi': 'Low', 'Anita': 'High', 'Kabir': 'Low'}

#Section 5: Tuples, Sets, and Zipping

In [15]:
names=("Ravi", "Sneha", "Kabir")
marks=(88, 92, 76)

In [19]:
#1. Convert both tuples to a dictionary using zip()
studentdict=dict(zip(names, marks))
print(studentdict)
#2. Find min and max marks
minmark=min(studentdict.values())
maxmark=max(studentdict.values())
print(minmark, maxmark)
#3. Create a set from marks and add a new value
markset=set(studentdict.values())
markset.add(95)
print(markset)
#4. Merge two sets and show only unique elements
set1={1, 2, 3, 4, 5}
set2={4, 5, 6, 7, 8}
mergedset=set1.union(set2)
print(mergedset)

{'Ravi': 88, 'Sneha': 92, 'Kabir': 76}
76 92
{88, 92, 95, 76}
{1, 2, 3, 4, 5, 6, 7, 8}

#Bonus Challenge

In [20]:
employees = {
    "E101": {"name": "Ravi", "dept": "Sales", "salary": 50000},
    "E102": {"name": "Sneha", "dept": "Engineering", "salary": 80000},
    "E103": {"name": "Kabir", "dept": "HR", "salary": 45000}
}

In [25]:
#1. Add a new employee "E104"
employees["E104"]={"name": "Anita", "dept": "Engineering", "salary": 75000}
print(employees)

#2. Increase salary by 10% for Engineering department only
for empid, empinfo in employees.items():
    if empinfo["dept"]=="Engineering":
        empinfo["salary"]*=1.1
print(employees)
#3. Find the department with the highest average salary
from collections import defaultdict
dept_salaries=defaultdict(list)
for emp in employees.values():
    dept_salaries[emp["dept"]].append(emp["salary"])
avg_salaries={dept: sum(sals)/len(sals) for dept, sals in dept_salaries.items()}
top_dept=max(avg_salaries, key=avg_salaries.get)
print( avg_salaries)
print(top_dept)

{'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}, 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 106480.00000000003}, 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}, 'E104': {'name': 'Anita', 'dept': 'Engineering', 'salary': 75000}}
{'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}, 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 117128.00000000004}, 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}, 'E104': {'name': 'Anita', 'dept': 'Engineering', 'salary': 82500.0}}
{'Sales': 50000.0, 'Engineering': 99814.00000000003, 'HR': 45000.0}
Engineering