#Master DataFrame Assignment – Retail Sales SuperstoreDataset

##PART 1: Pandas DataFrame Operations

In [54]:
csv_data = """OrderID,OrderDate,Customer,Segment,Region,Product,Category,SubCategory,Quantity,UnitPrice,Discount,Profit
CA-1001,2023-01-15,Ravi,Consumer,South,Laptop,Technology,Computers,1,55000,0.10,5000
CA-1002,2023-02-20,Priya,Corporate,North,Printer,Technology,Peripherals,2,12000,0.15,1800
CA-1003,2023-01-25,Amit,Consumer,East,Notebook,Office Supplies,Paper,3,200,0.05,150
CA-1004,2023-03-01,Anita,Home Office,West,Table,Furniture,Tables,1,18000,0.20,-1500
CA-1005,2023-02-05,Divya,Consumer,South,Phone,Technology,Phones,2,20000,0.00,3000
"""

with open('superstore.csv', 'w') as file:
    file.write(csv_data)

In [14]:
#1. Load the CSV using pandas.
import pandas as pd
df = pd.read_csv('superstore.csv')

#2. Print schema, head, shape, dtypes.
print(df.head())
print("\nShape\n:",df.shape)
print("\ndtypes:\n",df.dtypes)

#3. Select Customer , Product , Profit columns.
print(df[['Customer','Product','Profit']])

   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit
0       Technology    Computers         1      55000      0.10    5000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500
4       Technology       Phones         2      20000      0.00    3000

Shape
: (5, 12)

dtypes:
 OrderID         object
OrderDate       object
Customer        object
Segment         object
Region          object
Product         object
Category        object
SubCategory     object
Quantity         int64
UnitPrice        int64
Discount       float64
Profit           int64
dtype: object
  Customer   Product  Profit
0     Ravi    Laptop    5000
1    Priya   Printer    1800
2     Amit  Notebook     150
3    Anita     Table   -1500
4    Divya     Phone    3000

In [17]:
#4. Filter orders where Profit > 2000 and Discount = 0 .
filtered_df = df[(df['Profit'] > 2000) & (df['Discount'] == 0)]
print(filtered_df)

   OrderID   OrderDate Customer   Segment Region Product    Category  \
4  CA-1005  2023-02-05    Divya  Consumer  South   Phone  Technology

  SubCategory  Quantity  UnitPrice  Discount  Profit
4      Phones         2      20000       0.0    3000

In [18]:
#5. Sort by Profit descending.
sorted_df = df.sort_values(by='Profit', ascending=False)
print(sorted_df)

   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit
0       Technology    Computers         1      55000      0.10    5000
4       Technology       Phones         2      20000      0.00    3000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500

In [19]:
#6. GroupBy Category → Total Profit, Avg Discount.
grouped_df = df.groupby('Category').agg({'Profit': 'sum', 'Discount': 'mean'})
print(grouped_df)

                 Profit  Discount
Category
Furniture         -1500  0.200000
Office Supplies     150  0.050000
Technology         9800  0.083333

In [20]:
#7. Add a column TotalPrice = Quantity * UnitPrice .
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']
print(df)

   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit  \
0       Technology    Computers         1      55000      0.10    5000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500
4       Technology       Phones         2      20000      0.00    3000

   TotalPrice
0       55000
1       24000
2         600
3       18000
4       40000

In [21]:
#8. Drop the SubCategory column.
df = df.drop('SubCategory', axis=1)
print(df)

   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone

          Category  Quantity  UnitPrice  Discount  Profit  TotalPrice
0       Technology         1      55000      0.10    5000       55000
1       Technology         2      12000      0.15    1800       24000
2  Office Supplies         3        200      0.05     150         600
3        Furniture         1      18000      0.20   -1500       18000
4       Technology         2      20000      0.00    3000       40000

In [22]:
#9. Fill nulls in Discount with 0.10.
df['Discount'] = df['Discount'].fillna(0.10)
print(df)

   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone

          Category  Quantity  UnitPrice  Discount  Profit  TotalPrice
0       Technology         1      55000      0.10    5000       55000
1       Technology         2      12000      0.15    1800       24000
2  Office Supplies         3        200      0.05     150         600
3        Furniture         1      18000      0.20   -1500       18000
4       Technology         2      20000      0.00    3000       40000

In [26]:
#10. Apply a function to categorize orders:

def classify(row):
    if row['Profit'] > 4000:
        return 'High'
    elif row['Profit'] > 0:
        return 'Medium'
    else:
        return 'Low'

df["Categoryorder"] = df.apply(classify, axis=1)
print(df[["OrderID", "Profit", "Categoryorder"]])

   OrderID  Profit Categoryorder
0  CA-1001    5000          High
1  CA-1002    1800        Medium
2  CA-1003     150        Medium
3  CA-1004   -1500           Low
4  CA-1005    3000        Medium

#PART 2: PySpark DataFrame Operations

In [28]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("DataframeOperations").getOrCreate()

In [33]:
#1. Load the same CSV using PySpark.
spark_df=spark.read.csv('superstore.csv',header=True,inferSchema=True)
print(spark_df)
#2. Show schema and first 5 rows.
print(spark_df.printSchema())
print(spark_df.show(5))
#3. Select columns, Rename Customer → Client .
spark_df=spark_df.selectExpr("OrderID","OrderDate","Customer as Client","Segment","Region","Product","Category","SubCategory","Quantity","UnitPrice","Discount","Profit")
print(spark_df.show())

DataFrame[OrderID: string, OrderDate: date, Customer: string, Segment: string, Region: string, Product: string, Category: string, SubCategory: string, Quantity: int, UnitPrice: int, Discount: double, Profit: int]
root
 |-- OrderID: string (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- Customer: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- SubCategory: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- UnitPrice: integer (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Profit: integer (nullable = true)

None
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+
|OrderID| OrderDate|Customer|    Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+
|CA-1001|2023-01-15|    Ravi|   Consumer| South|  Laptop|     Technology|  Computers|       1|    55000|     0.1|  5000|
|CA-1002|2023-02-20|   Priya|  Corporate| North| Printer|     Technology|Peripherals|       2|    12000|    0.15|  1800|
|CA-1003|2023-01-25|    Amit|   Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|
|CA-1004|2023-03-01|   Anita|Home Office|  West|   Table|      Furniture|     Tables|       1|    18000|     0.2| -1500|
|CA-1005|2023-02-05|   Divya|   Consumer| South|   Phone|     Technology|     Phones|       2|    20000|     0.0|  3000|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+

None
+-------+----------+------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+
|OrderID| OrderDate|Client|    Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|
+-------+----------+------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+
|CA-1001|2023-01-15|  Ravi|   Consumer| South|  Laptop|     Technology|  Computers|       1|    55000|     0.1|  5000|
|CA-1002|2023-02-20| Priya|  Corporate| North| Printer|     Technology|Peripherals|       2|    12000|    0.15|  1800|
|CA-1003|2023-01-25|  Amit|   Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|
|CA-1004|2023-03-01| Anita|Home Office|  West|   Table|      Furniture|     Tables|       1|    18000|     0.2| -1500|
|CA-1005|2023-02-05| Divya|   Consumer| South|   Phone|     Technology|     Phones|       2|    20000|     0.0|  3000|
+-------+----------+------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+

None

In [35]:

#4. Filter Segment = 'Consumer' and Profit < 1000 .
filtered_df = spark_df.filter((spark_df['Segment'] == 'Consumer') & (spark_df['Profit'] < 1000))
print(filtered_df.show())
#5. GroupBy Region and show average profit.
grouped_df = spark_df.groupBy('Region').agg({'Profit': 'mean'})
print(grouped_df.show())

+-------+----------+------+--------+------+--------+---------------+-----------+--------+---------+--------+------+
|OrderID| OrderDate|Client| Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|
+-------+----------+------+--------+------+--------+---------------+-----------+--------+---------+--------+------+
|CA-1003|2023-01-25|  Amit|Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|
+-------+----------+------+--------+------+--------+---------------+-----------+--------+---------+--------+------+

None
+------+-----------+
|Region|avg(Profit)|
+------+-----------+
| South|     4000.0|
|  East|      150.0|
|  West|    -1500.0|
| North|     1800.0|
+------+-----------+

None

In [41]:
#6. Use withColumn to create TotalPrice = Quantity * UnitPrice .
spark_df = spark_df.withColumn('TotalPrice', spark_df['Quantity'] * spark_df['UnitPrice'])
print(spark_df.show())
#7. Use when().otherwise() to classify Profit
from pyspark.sql.functions import when
from pyspark.sql.functions import col
spark_df = spark_df.withColumn("ProfitLevel", when(col("Profit") > 2000, "High").when(col("Profit") <= 0, "Loss").otherwise("Medium"))
spark_df.select("OrderID", "Profit", "ProfitLevel").show()

+-------+----------+------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+----------+
|OrderID| OrderDate|Client|    Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|TotalPrice|
+-------+----------+------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+----------+
|CA-1001|2023-01-15|  Ravi|   Consumer| South|  Laptop|     Technology|  Computers|       1|    55000|     0.1|  5000|     55000|
|CA-1002|2023-02-20| Priya|  Corporate| North| Printer|     Technology|Peripherals|       2|    12000|    0.15|  1800|     24000|
|CA-1003|2023-01-25|  Amit|   Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|       600|
|CA-1004|2023-03-01| Anita|Home Office|  West|   Table|      Furniture|     Tables|       1|    18000|     0.2| -1500|     18000|
|CA-1005|2023-02-05| Divya|   Consumer| South|   Phone|     Technology|     Phones|       2|    20000|     0.0|  3000|     40000|
+-------+----------+------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+----------+

None
+-------+------+-----------+
|OrderID|Profit|ProfitLevel|
+-------+------+-----------+
|CA-1001|  5000|       High|
|CA-1002|  1800|     Medium|
|CA-1003|   150|     Medium|
|CA-1004| -1500|       Loss|
|CA-1005|  3000|       High|
+-------+------+-----------+

In [42]:
#8. Use drop() to remove SubCategory .
spark_df = spark_df.drop('SubCategory')
print(spark_df.show())
#9. Handle nulls in Discount using fillna(0.10) .
spark_df = spark_df.fillna({'Discount': 0.10})
print(spark_df.show())

+-------+----------+------+-----------+------+--------+---------------+--------+---------+--------+------+----------+-----------+
|OrderID| OrderDate|Client|    Segment|Region| Product|       Category|Quantity|UnitPrice|Discount|Profit|TotalPrice|ProfitLevel|
+-------+----------+------+-----------+------+--------+---------------+--------+---------+--------+------+----------+-----------+
|CA-1001|2023-01-15|  Ravi|   Consumer| South|  Laptop|     Technology|       1|    55000|     0.1|  5000|     55000|       High|
|CA-1002|2023-02-20| Priya|  Corporate| North| Printer|     Technology|       2|    12000|    0.15|  1800|     24000|     Medium|
|CA-1003|2023-01-25|  Amit|   Consumer|  East|Notebook|Office Supplies|       3|      200|    0.05|   150|       600|     Medium|
|CA-1004|2023-03-01| Anita|Home Office|  West|   Table|      Furniture|       1|    18000|     0.2| -1500|     18000|       Loss|
|CA-1005|2023-02-05| Divya|   Consumer| South|   Phone|     Technology|       2|    20000|     0.0|  3000|     40000|       High|
+-------+----------+------+-----------+------+--------+---------------+--------+---------+--------+------+----------+-----------+

None
+-------+----------+------+-----------+------+--------+---------------+--------+---------+--------+------+----------+-----------+
|OrderID| OrderDate|Client|    Segment|Region| Product|       Category|Quantity|UnitPrice|Discount|Profit|TotalPrice|ProfitLevel|
+-------+----------+------+-----------+------+--------+---------------+--------+---------+--------+------+----------+-----------+
|CA-1001|2023-01-15|  Ravi|   Consumer| South|  Laptop|     Technology|       1|    55000|     0.1|  5000|     55000|       High|
|CA-1002|2023-02-20| Priya|  Corporate| North| Printer|     Technology|       2|    12000|    0.15|  1800|     24000|     Medium|
|CA-1003|2023-01-25|  Amit|   Consumer|  East|Notebook|Office Supplies|       3|      200|    0.05|   150|       600|     Medium|
|CA-1004|2023-03-01| Anita|Home Office|  West|   Table|      Furniture|       1|    18000|     0.2| -1500|     18000|       Loss|
|CA-1005|2023-02-05| Divya|   Consumer| South|   Phone|     Technology|       2|    20000|     0.0|  3000|     40000|       High|
+-------+----------+------+-----------+------+--------+---------------+--------+---------+--------+------+----------+-----------+

None

In [46]:
#10. Convert OrderDate to date type and extract year , month .
from pyspark.sql.functions import year, month
from pyspark.sql.types import DateType
spark_df = spark_df.withColumn("OrderDate", col("OrderDate").cast(DateType()))
spark_df = spark_df.withColumn("OrderYear", year("OrderDate"))
spark_df = spark_df.withColumn("OrderMonth", month("OrderDate"))
spark_df.select("OrderID", "OrderDate", "OrderYear", "OrderMonth").show()

+-------+----------+---------+----------+
|OrderID| OrderDate|OrderYear|OrderMonth|
+-------+----------+---------+----------+
|CA-1001|2023-01-15|     2023|         1|
|CA-1002|2023-02-20|     2023|         2|
|CA-1003|2023-01-25|     2023|         1|
|CA-1004|2023-03-01|     2023|         3|
|CA-1005|2023-02-05|     2023|         2|
+-------+----------+---------+----------+

#PART 3: Dask DataFrame Operations (Pandas Alternative)

In [ ]:
#1. Install Dask:
!pip install dask
#2. Load the same superstore.csv :
import dask.dataframe as dd
df = dd.read_csv('superstore.csv')

In [52]:
#3. Do the following:
#Compute average discount by category.
average_discount = df.groupby('Category')['Discount'].mean().compute()
print(average_discount)
#Filter orders with more than 1 quantity and high profit.
filtered_df = df[(df['Quantity'] > 1) & (df['Profit'] > 1000)]
print(filtered_df.compute())
#Save filtered data to new CSV.
filtered_df.to_csv('filtered_data.csv', index=False)

Category
Furniture          0.200000
Office Supplies    0.050000
Technology         0.083333
Name: Discount, dtype: float64
   OrderID   OrderDate Customer    Segment Region  Product    Category  \
1  CA-1002  2023-02-20    Priya  Corporate  North  Printer  Technology
4  CA-1005  2023-02-05    Divya   Consumer  South    Phone  Technology

   SubCategory  Quantity  UnitPrice  Discount  Profit
1  Peripherals         2      12000      0.15    1800
4       Phones         2      20000      0.00    3000

['/content/filtered_data.csv/0.part']

#PART 4: JSON Handling (Complex Nested)

In [55]:
import json

data=[
{
"OrderID": "CA-1001",
"Customer": {"Name": "Ravi", "Segment": "Consumer"},
"Details": {"Region": "South", "Profit": 5000}
},
{
"OrderID": "CA-1002",
"Customer": {"Name": "Priya", "Segment": "Corporate"},
"Details": {"Region": "North", "Profit": 1800}
}
]
with open("orders.json", "w") as file:
    json.dump(data, file, indent=4)

In [56]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("JSONOperations").getOrCreate()

In [57]:
df_json = spark.read.json('orders.json', multiLine=True)
df_json.printSchema()
df_json.select("OrderID", "Customer.Name", "Details.Profit").show()

root
 |-- Customer: struct (nullable = true)
 |    |-- Name: string (nullable = true)
 |    |-- Segment: string (nullable = true)
 |-- Details: struct (nullable = true)
 |    |-- Profit: long (nullable = true)
 |    |-- Region: string (nullable = true)
 |-- OrderID: string (nullable = true)

+-------+-----+------+
|OrderID| Name|Profit|
+-------+-----+------+
|CA-1001| Ravi|  5000|
|CA-1002|Priya|  1800|
+-------+-----+------+